<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container3" style="margin: 20px;">
        
        <div id="three" >
            <img src="../../assets/images/kore.png" height="50px" width="30%" alt="">
        <img src="../../assets/images/agile.jpg" style="border-radius:10rem;height: 300px;width: 60%; float: right;padding-top: 30px;padding-left: 0px;">
       <div class="write">
        <br><br>
        Agile<br>
        <div style="color:black;">
    ----------------------------------
    </div>
</div>
    <div class="fontw">
      <p>Combining the capacity of large global providers <br> 
        with the velocity of a tight team, we get more of the right things done, faster.
      </p>
    </div>
    <button (click)="buttonclick()">Click Here</button>
    </div>
      </div>
</body>
</html>